label{
    font-size: 25px;
}

legend{
    font-size: 30px;
    text-align: center;
    font-weight: 500;
}

.container-formulario{ /*Grid*/
    width: 100%;
    height: 90%;
    display: grid;
    grid-template:
    "formulario"
    "verInfo off";
}

.formulario.off{
    display: none;
}

.formulario{
    border-radius: 2px;
    padding-top: 2%;
    padding-left: 20%;
    padding-right: 20%;
    height: 90%;
    width: auto;
}

.form-control{
    width: 100%;
    height: auto;
    border-radius: 8px;    
    border: solid 5px #ccc;
    outline: none;
    font-size: 20px;
}

.OtraEsc.off{
    display: none;
}

.OtraEsc{
    display: block;
}

.verInfo.off{
    display: none;
}

.verInfo{
    border: solid 5px white;
    border-radius: 2px;
    padding: 10px;
    height: auto;
    width: 50%;
    top: 20%;
    left: 25%;
}

.btn-Formularios{
    /*Grid*/
    width: 100%;
    height: 10%;
    display: grid;
    grid-template:
    "boton uno"
    "boton dos"/50%;
}